@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}
h1{
   
    margin-bottom: 20px;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#demo{
    backdrop-filter: blur(10px) saturate(170%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.26);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 280px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    position: relative;
    letter-spacing: 8px;
  margin-bottom: 80px;
   
 
   
}

#demo::before{
    content: "";
    position: absolute;
    width: 25px;
    padding: 30px;
    border-radius: 12px;
    background-color:#f502b8e2;
    opacity: 2;
    z-index: -1;
    top: -40px;
    left: -40px;
}

#demo::after{
    content: "";
    height: 40px;
    width: 40px;
    padding: 20px;
    position: absolute;
    background-color: rgba(3, 253, 3, 0.548);
    border-radius: 50%;
    z-index: -10;
}

@media (max-width: 810px) {
   #demo{
    
    margin-bottom: 80px;
   } 
#demo::after{
 right: -30px;
 bottom: -40px;

}

@media (max-width: 370px) {
    
    #demo::after{
        display: none;

    }
    #demo::before{
        display: none;
    }
}